[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "==3.11.3"
beautifulsoup4 = "==4.15.0"
django = "==6.0.7"
djangorestframework = "==3.17.1"
lxml = "==6.1.1"
psycopg = { version = "==3.3.4", extras = ["binary"] }
requests = "==2.34.2"

[dev-packages]
black = "==26.5.1"
isort = "==8.0.1"
pyflakes = "==3.4.0"

[requires]
python_version = "3.14"

[scripts]
lint = "bash -c 'isort . && black .'"
